@import 'variables';
@import 'bulma/sass/utilities/initial-variables';
@import 'bulma/sass/utilities/derived-variables';

.is-box-shadow-none {
  box-shadow: unset;
}

.is-flex {
  display: flex;
}

.is-horizontal-center {
  justify-content: center;
}

.content a {
  text-decoration: underline;
}

.content a.button {
  text-decoration: unset;
}

.is-max-width-40rem {
  max-width: 40rem;
}

.is-max-width-60rem {
  max-width: 50rem;
}

.is-pulled-up-64px {
  margin-top: -64px;
}

.is-pulled-up-128px {
  margin-top: -256px;
}

.is-pushed-down-256px {
  margin-top: -256px;
}

.is-border-lighter-2px {
  border-color: rgba(255, 255, 255, 0.3);
  @media (prefers-color-scheme: dark) {
    border-color: rgba(0, 0, 0, 0.3);
  }
  border-style: solid;
  border-width: 2px;
}

.is-border-radius-100percent {
  border-radius: 100%;
}

.is-shadow-inset {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 3px 3px 10px 0 $grey;
  top: 0;
  left: 0;
}

html {
  height: 100%;
  background-color: rgb(248, 250, 215);
  @media (prefers-color-scheme: dark) {
    background-color: rgb(13, 8, 50);
  }
}

.card {
  background-color: rgba(248, 250, 215, 0.75);
  box-shadow: 0 0.5em 1em -0.125em rgba(255, 255, 255, 0.1),
    0 0px 0 1px rgba(255, 255, 255, 0.02);

  @media (prefers-color-scheme: dark) {
    color: $white-ter;
    background-color: rgba(13, 8, 50, 0.75);
    box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1),
      0 0px 0 1px rgba(0, 0, 0, 0.02);

    .card-footer {
      border-top-color: $dark;

      .card-footer-item:not(:last-child) {
        border-right-color: $dark;
      }
    }
  }
}

.title {
  @media (prefers-color-scheme: dark) {
    color: $white;
  }
}

a {
  @media (prefers-color-scheme: dark) {
    color: #00ccff;

    &:hover {
      color: #00ffff;
    }
  }
}

.has-main-background {
  background-image: image-url('main_background.png');
  @media (prefers-color-scheme: dark) {
    background-image: image-url('main_background_dark.png');
  }
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.has-background-transparent {
  background-color: rgba(255, 255, 255, 0);
}

.is-rounded-bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.fa-rotate-10-on-hover {
  .icon {
    transition: transform 0.1s ease-in-out;
  }
  &:hover {
    .icon {
      transform: rotate(10deg);
    }
  }
}

.on-hover-expand-2x {
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.1);
    z-index: 1;
  }
}

.is-vend {
  align-items: end;
}

.is-margin-top-128px {
  @media (min-width: 600px) {
    margin-top: 128px;
  }
}
